

.total_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Wrapper principal que centra el contenido */
.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    min-height: 15vh;
}

/* Card principal con fondo ligeramente oscuro y bordes redondeados */
.home-content {
    max-width: 900px;
    width: 100%;
    background-color: #f0f0f0; /* Fondo ligeramente más oscuro que el blanco */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2; /* Asegura que el contenido esté sobre cualquier fondo */
}

/* Estilos para la primera sección con texto sobre la imagen */
.section-welcome {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    max-height: 400px; /* Limita la altura máxima de la imagen */
}

.welcome-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    max-height: 400px; /* Asegura que la imagen no sobrepase esta altura */
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    padding: 2rem; /* Aumentar el padding para hacer la caja más grande */
    border-radius: 8px;
    width: 80%; /* Aumenta el ancho de la caja */
    max-width: 600px; /* Limitar el ancho máximo */
}

.welcome-text h1 {
    margin: 0;
    font-size: 2rem; /* Tamaño del texto para pantallas grandes */
    font-weight: bold; /* Hacer el texto 'Bienvenido a Repomatic, David' más grueso */
}

.welcome-text h2 {
    margin: 0;
    font-size: 1.5rem; /* Tamaño del subtítulo para pantallas grandes */
    font-weight: normal; /* Subtítulo con grosor normal */
}

/* Estilos para las demás secciones */
.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
}

.home-section.reverse {
    flex-direction: row-reverse;
}

.home-text {
    flex: 1;
    padding: 1rem;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.home-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-image img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 1rem;
}

/* Botones de acción */
.btn-action {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-action:hover {
    background-color: #0056b3;
}

/* Responsiveness */
@media (min-width: 768px) {
    .home-section {
        flex-direction: row;
        text-align: left;
    }

    .home-text {
        flex: 1;
        padding-right: 2rem;
    }

    .home-image {
        flex: 1;
        padding-left: 2rem;
    }
}

@media (max-width: 768px) {
    .home-section {
        flex-direction: column;
        text-align: center;
    }

    .home-image img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}

/* Responsiveness para titulo en pantallas más pequeñas */
@media (max-width: 640px) {
    .welcome-text h1 {
        font-size: 1.5rem; /* Reducir el tamaño del texto en pantallas pequeñas */
        font-weight: bold;
    }

    .welcome-text h2 {
        font-size: 1rem; /* Reducir el tamaño del subtítulo en pantallas pequeñas */
        font-weight: normal;
    }
}

.new-button{
    width: 150%;
}


.backpage{
	width: 100%;
	min-height: calc(100vh - 100px); /* Adjust 100px according to the height of your navbar and footer */
	display: grid;
	place-content: center;
}

.container {
	max-width: 550px;
	background: #f8f9fd;
	background: linear-gradient(
	  0deg,
	  rgb(255, 255, 255) 0%,
	  rgb(244, 247, 251) 100%
	);
	border-radius: 40px;
	padding: 25px 35px;
	border: 5px solid rgb(255, 255, 255);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
	margin: 20px auto;
  }
  
  .heading {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	color: rgb(16, 137, 211);
  }
  
  .former {
	margin-top: 20px;
    width: 200%;
  }
  
  .former .input {
	width: 100%;
	background: white;
	border: none;
	padding: 15px 20px;
	border-radius: 20px;
	margin-top: 15px;
	box-shadow: #cff0ff 0px 10px 10px -5px;
	border-inline: 2px solid transparent;
  }
  
  .former .input::-moz-placeholder {
	color: rgb(170, 170, 170);
  }
  
  .former .input::placeholder {
	color: rgb(170, 170, 170);
  }
  
  .former .input:focus {
	outline: none;
	border-inline: 2px solid #12b1d1;
  }
  
  .former .rememberme {
	display: block;
	margin-top: 10px;
	margin-left: 10px;
  }
  
  .former .rememberme a {
	font-size: 13px;
	color: rgb(16, 137, 211);;
	text-decoration: none;
	text-align: center;
  }
  
  .former .login-button {
	display: block;
	width: 100%;
	font-weight: bold;
	background: linear-gradient(
	  45deg,
	  rgb(16, 137, 211) 0%,
	  rgb(18, 177, 209) 100%
	);
	color: white;
	padding-block: 15px;
	margin: 20px auto;
	border-radius: 20px;
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
	border: none;
	transition: all 0.2s ease-in-out;
  }
  
  .former .login-button:hover {
	transform: scale(1.03);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .former .login-button:active {
	transform: scale(0.95);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  .social-account-container {
	margin-top: 25px;
  }
  
  .social-account-container .title {
	display: block;
	text-align: center;
	font-size: 10px;
	color: rgb(170, 170, 170);
  }
  
  .social-account-container .social-accounts {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
	background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
	border: 5px solid white;
	padding: 5px;
	border-radius: 50%;
	width: 40px;
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
	transition: all 0.2s ease-in-out;
  }
  
  .social-account-container .social-accounts .social-button .svg {
	fill: white;
	margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
	transform: scale(1.2);
  }
  
  .social-account-container .social-accounts .social-button:active {
	transform: scale(0.9);
  }
  
  .agreement {
	display: block;
	text-align: center;
	margin-top: 15px;
  }
  
  .agreement a {
	text-decoration: none;
	color: #0099ff;
	font-size: 12px;
  }
  